.initial-height {
    height: 100vh;
}

.bubble {
    border: 2px solid #3c72ff;
    border-radius: 50px;
}

hr.separator {
    border: 5px solid #3c72ff;
    border-radius: 50px;
}

hr.separator2 {
    border: 2px solid #3c72ff;
    border-radius: 50px;
}

ul#menu li {
    display: inline;
}

.divider {
    height: 100%;
    width: 1%;
    background-color: #3c72ff;
}

.row-dots {
    height: 10%;
}

.rs {
    height: 230%;
}
