.initial-height{
    height: 100vh;
}

.bubble, hr.separator{
    border: 2px solid #1a1a1a;
    border-radius: 25px;
}

ul#menu li{
    display: inline;
}

.divider{
    height: 100%;
    width: 1%;
    margin-left: 2%;
    background-color: #1a1a1a;
}

.row-dots{
    height: 10%;
}